<h1 class="page-header">Spotify WorldView</h1>

<%= form_tag albums_path, method: "get", html: { class: "form" } do %>
 <div class="form-group">
   <%= text_field_tag(:album_name, "", placeholder: "Search album by name", class: "form-control") %>
 </div>
 <%= submit_tag "Search", class: "btn btn-default" %>
<% end %>