<!--Layout of albums by country page-->
<h1 class="page-header"><%= @country %>'s Albums:</h1>
   <% @country.each do |album| %> <!--list out tracks of album-->
     <li>
       <%= album %>
     </li>
<% end %>