<h1 class="page-header">Artists Matching <%= params[:album_name] %></h1>
<ul>
 <% @albums.each do |album| %>
   <li><%= album.name %> | <%= link_to "Show", album_path(album.id) %></li>
 <% end %>
</ul>