<h1 class="page-header">Albums Found Matching "<%= params[:album_name] %>"</h1>
<ul>
 <!--Print out list of 20 results from searching-->
 <% @albums.each do |album| %> 
   <li><%= album.name %> | <%= link_to "Show tracklist & availability", album_path(album.id) %></li>
   
 <% end %>
</ul>