<h1 class="page-header"><%= @album.name %> track list:</h1>
   <% @album.tracks.each do |track| %>
     <li>
       <%= track.name %>
     </li>
<% end %>
     
<h3><%= @album.name %> is available in: </h3>
   <% @album.available_markets.each do |available_market| %>
     <li>
       <%= available_market %>
     </li>
<% end %>