<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>SpotifyWorldView</title>
  <%= link_to 'Sign in with Spotify', '/auth/spotify' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= yield %>
</body>
</html>